<!DOCTYPE html>
<html ng-app="App"> <!-- ng-app is REQUIRED if the page is going to use angular!! pageApp tells it which app to use-->
<head>
	<title></title>
	<script src="http://code.jquery.com/jquery-3.1.0.min.js" type="text/javascript"></script> 
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="styleshee" type="text/css" rel="stylesheet"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script> <!-- this is the angular script -->
	<script src="app-module.js" type="text/javascript"></script>
	<script src="app-controller.js" type="text/javascript"></script>


	<script lang="javascript"></script>
	
	<style></style>
</head>
<body ng-controller="AppCtrl as ctrl"> <!-- specifying the controller we want to use to manage everything in the body tag and below -->
	<h1>My First AngularJS Page</h1>
	<p>The sum of 1 and 2 is <span ng-bind="1 + 2" /></span></p> <!-- here the ng-bind does the same thing as the above, but cant be faster 
																	with angulars workflow -->
	<p>
		<ul>
			<li ng-repeat="page in ctrl.pages">{{page.name}} is page id {{page.id}}</li> <!-- ctrl.pages gives us the data for the controller -->
		</ul>
	</p>
	<p> {{ctrl.about}} <!-- uses angular to call the about from the controller -->
	</p>
	<p ng-bind="ctrl.about"></p> <!-- a more efficient way to do the above -->
	<p><span ng-bind="getCopyright()"></span></p>
<input type="text" ng-model="ctrl.counter" /> <!-- ng model lets us use the controller we created called counter with an input-->
<button ng-click="ctrl.incCounter()">Inc Counter</button>
<input type="text" ng-mode="ctrl.page" />
<button ng click="ctrl.addPage(ctrl.page)">Add Page</button>
</body>
</html>
